<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi, <%= @subscriber.first_name %>
    
      It's my pleasure to welcome you to Freelance Grants! <a href="http://freelancegrants.com.au/">Explore our disruptive grant application process</a>!
    
    
      Cheers,<br/>
      Andy Solo
    
  </body>
</html>