= render "onepage"
.container
  .row
    .col-sm-12.text-center.bootstrap-welcome
      h1
        | Welcome to Freelance Grants.
      h2.lead
        | We help amazing organisations apply for grants with no upfront costs.
