<div class="row">
  <div class="col-sm-12 text-center bootstrap-welcome">
    <h1>Welcome to Freelance Grants.</h1>
    <h2 class="lead">We help amazing organisations apply for grants with no upfront costs</h2>
  </div>
</div>
