<h1>Search</h1>
<% if !params[:q].present? %>
  <h3 class="topDown">What would you like to search for?</h3>
  <%= render "shared/search_form" %>
<% else %>
  <% if !@postsearch.empty? %>
  <%= render "shared/search_form" %>
    <%= render "shared/search_results" %>
  <% else %>
    <h3 class="topDown">There were no results... Try again.</h3>
    <%= render "shared/search_form" %>
  <% end %>
<% end %>
