<h1>Posts</h1>
<% if params[:q].present? %>
  <% if !@postsearch.empty? %>
    <%= render "shared/search_results" %>
  <% else %>
    <h3 class="topDown">Your search returned no results... Try Again!</h3>
    <%= render "shared/search_form" %>
  <% end %>
<% else %>
  <%= render "posts" %>
<% end %>
