/*
 *= require redactor-rails
*/
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.redactor-box{
  left:20%;
  width:80%;
}
