@import "bootstrap";

$font-family-base: courier;

body{
  font-family: $font-family-base;
  font-stretch: condensed;
}
.one-page-background{
  background-size: cover;
}
.bootstrap-hero {
  padding-top: 12em;
  padding-bottom: 6em;
  padding-left: 5%;
  text-align: center;
  .hero-title, .hero-body{
    color:#fff;
  }
}
.bootstrap-bodycontent, .bootstrap-aboutus, .page-content {
  padding-top: 5em;
  padding-bottom: 5em;
  color:#000;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #fff;
}
.topDown{
  margin-top: 10px;
}
.topDownWithNav{
  margin-top: 80px;
}
.footer-section{
  padding-top:2em;
}
.footer-column{
  img{
    padding-top: 2em;
    width:60%;
    margin-left: 20%;
  }
  p, h1, h2, h3, h4, h5{
    width:90%;
    margin-left: 5%;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
.poo-bear{
  position: relative;;
  top: -20000px
}
